ambrosia-library/lib/ambrosia.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT interface (included | header | title | container | modeContainer)* >
<!ATTLIST interface id CDATA #IMPLIED >
<!ATTLIST interface autoComplete (TRUE|FALSE) #IMPLIED >
<!ATTLIST interface title CDATA #IMPLIED >
<!ATTLIST interface header CDATA #IMPLIED >

<!ELEMENT fragment (included | container)* >

<!ELEMENT title (message | included | highlighted)* >
<!ATTLIST title highlighted (TRUE|FALSE) #IMPLIED >

<!ELEMENT header (message) >

<!ELEMENT message (model | booleanModel | constantModel | contextInfoModel | dateModel | durationModel | countModel | floatModel | htmlModel | iconModel | pagingModel | textModel | urlModel | userInfoModel)* >
<!ATTLIST message selector CDATA #IMPLIED >
<!ATTLIST message model CDATA #IMPLIED >

<!ELEMENT model (missingValues)* >
<!ATTLIST model ref CDATA #IMPLIED >
<!ATTLIST model indexRef CDATA #IMPLIED >
<!ATTLIST model delegate CDATA #IMPLIED >
<!ATTLIST model tool CDATA #IMPLIED >
<!ATTLIST model missing CDATA #IMPLIED >
<!ATTLIST model type (boolean|constant|contextInfo|count|date|duration|float|html|icon|paging|text|url|userInfo) #IMPLIED >
<!ATTLIST model concise (TRUE|FALSE) #IMPLIED >
<!ATTLIST model selector (DISPLAYNAME|TITLE) #IMPLIED >
<!ATTLIST model max CDATA #IMPLIED >
<!ATTLIST model stripHtml (TRUE|FALSE) #IMPLIED >
<!ATTLIST model icon CDATA #IMPLIED >
<!ATTLIST model twoLine (TRUE|FALSE) #IMPLIED >
<!ATTLIST model value CDATA #IMPLIED >
<!ATTLIST model true CDATA #IMPLIED >
<!ATTLIST model false CDATA #IMPLIED >

<!ELEMENT missingValues (missing)* >
<!ELEMENT missing EMPTY >
<!ATTLIST missing value CDATA #IMPLIED >

<!ELEMENT booleanModel (missingValues)* >
<!ATTLIST booleanModel ref CDATA #REQUIRED >
<!ATTLIST booleanModel delegate CDATA #IMPLIED>
<!ATTLIST booleanModel tool CDATA #IMPLIED >
<!ATTLIST booleanModel missing CDATA #IMPLIED >
<!ATTLIST booleanModel true CDATA #IMPLIED >
<!ATTLIST booleanModel false CDATA #IMPLIED >

<!ELEMENT constantModel (missingValues)* >
<!ATTLIST constantModel ref CDATA #IMPLIED >
<!ATTLIST constantModel delegate CDATA #IMPLIED>
<!ATTLIST constantModel tool CDATA #IMPLIED >
<!ATTLIST constantModel missing CDATA #IMPLIED >
<!ATTLIST constantModel value CDATA #IMPLIED >

<!ELEMENT contextInfoModel (missingValues)* >
<!ATTLIST contextInfoModel ref CDATA #REQUIRED >
<!ATTLIST contextInfoModel delegate CDATA #IMPLIED>
<!ATTLIST contextInfoModel tool CDATA #IMPLIED >
<!ATTLIST contextInfoModel missing CDATA #IMPLIED >
<!ATTLIST contextInfoModel selector (TITLE) #IMPLIED >

<!ELEMENT dateModel (missingValues)* >
<!ATTLIST dateModel ref CDATA #REQUIRED >
<!ATTLIST dateModel delegate CDATA #IMPLIED>
<!ATTLIST dateModel tool CDATA #IMPLIED >
<!ATTLIST dateModel missing CDATA #IMPLIED >
<!ATTLIST dateModel twoLine (TRUE|FALSE) #IMPLIED >

<!ELEMENT durationModel (missingValues)* >
<!ATTLIST durationModel ref CDATA #REQUIRED >
<!ATTLIST durationModel delegate CDATA #IMPLIED>
<!ATTLIST durationModel tool CDATA #IMPLIED >
<!ATTLIST durationModel missing CDATA #IMPLIED >
<!ATTLIST durationModel concise (TRUE|FALSE) #IMPLIED >

<!ELEMENT countModel (missingValues)* >
<!ATTLIST countModel ref CDATA #REQUIRED >
<!ATTLIST countModel delegate CDATA #IMPLIED>
<!ATTLIST countModel tool CDATA #IMPLIED >
<!ATTLIST countModel missing CDATA #IMPLIED >

<!ELEMENT floatModel (missingValues)* >
<!ATTLIST floatModel ref CDATA #REQUIRED >
<!ATTLIST floatModel delegate CDATA #IMPLIED>
<!ATTLIST floatModel tool CDATA #IMPLIED >
<!ATTLIST floatModel missing CDATA #IMPLIED >

<!ELEMENT htmlModel (missingValues)* >
<!ATTLIST htmlModel ref CDATA #REQUIRED >
<!ATTLIST htmlModel delegate CDATA #IMPLIED>
<!ATTLIST htmlModel tool CDATA #IMPLIED >
<!ATTLIST htmlModel missing CDATA #IMPLIED >
<!ATTLIST htmlModel max CDATA #IMPLIED >

<!ELEMENT iconModel (missingValues)* >
<!ATTLIST iconModel ref CDATA #IMPLIED >
<!ATTLIST iconModel delegate CDATA #IMPLIED>
<!ATTLIST iconModel tool CDATA #IMPLIED >
<!ATTLIST iconModel missing CDATA #IMPLIED >
<!ATTLIST iconModel icon CDATA #IMPLIED >

<!ELEMENT textModel (missingValues)* >
<!ATTLIST textModel ref  CDATA #REQUIRED >
<!ATTLIST textModel delegate CDATA #IMPLIED>
<!ATTLIST textModel tool CDATA #IMPLIED >
<!ATTLIST textModel missing CDATA #IMPLIED >
<!ATTLIST textModel max CDATA #IMPLIED >
<!ATTLIST textModel stripHtml (TRUE|FALSE) #IMPLIED >

<!ELEMENT urlModel (missingValues)* >
<!ATTLIST urlModel ref CDATA #REQUIRED >
<!ATTLIST urlModel delegate CDATA #IMPLIED>
<!ATTLIST urlModel tool CDATA #IMPLIED >
<!ATTLIST urlModel missing CDATA #IMPLIED >

<!ELEMENT userInfoModel (missingValues)* >
<!ATTLIST userInfoModel ref CDATA #REQUIRED >
<!ATTLIST userInfoModel delegate CDATA #IMPLIED>
<!ATTLIST userInfoModel tool CDATA #IMPLIED >
<!ATTLIST userInfoModel missing CDATA #IMPLIED >
<!ATTLIST userInfoModel selector (DISPLAYNAME) #IMPLIED >

<!ELEMENT pagingModel (missingValues)* >
<!ATTLIST pagingModel ref CDATA #REQUIRED >
<!ATTLIST pagingModel delegate CDATA #IMPLIED>
<!ATTLIST pagingModel tool CDATA #IMPLIED >
<!ATTLIST pagingModel missing CDATA #IMPLIED >

<!ELEMENT container (alert | alias | attachments | attachmentsEdit | countEdit | countdownTimer | courier | dateEdit | durationEdit | divider | entityActionBar | entityDisplay | entityList | floatEdit | htmlEdit | evaluation | fileUpload | fillIn | gap | iconKey | instructions | match | menuBar | modelComponent | modeBar | navigation | navigationBar | pager | password | section | selection | text | textEdit)* >
<!ELEMENT modeContainer (alert | alias | attachments | attachmentsEdit | countEdit | countdownTimer | courier | dateEdit | durationEdit | divider | entityActionBar | entityDisplay | entityList | floatEdit | htmlEdit | evaluation | fileUpload | fillIn | gap | iconKey | instructions | match | menuBar | modelComponent | modeBar | navigation | navigationBar | pager | password | section | selection | text | textEdit)* >

<!ELEMENT included (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT disabled (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT default (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT validate (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT entityIncluded (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT titleIncluded (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT asAlert (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT active (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT direction (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT readOnly (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT singleSelect (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT focus (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ELEMENT highlighted (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >

<!ATTLIST entityIncluded selector CDATA #IMPLIED >

<!ELEMENT decision (model)* >
<!ATTLIST decision type (hasValue|compare|and|or|pastDate) #IMPLIED >
<!ATTLIST decision reversed (TRUE|FALSE) #IMPLIED >
<!ATTLIST decision model CDATA #IMPLIED >
<!ATTLIST decision delegate CDATA #IMPLIED >
<!ATTLIST decision tool CDATA #IMPLIED >

<!ELEMENT hasValueDecision (model)* >
<!ATTLIST hasValueDecision type (hasValue|compare|and|or|pastDate) #IMPLIED >
<!ATTLIST hasValueDecision reversed (TRUE|FALSE) #IMPLIED >
<!ATTLIST hasValueDecision model CDATA #IMPLIED >
<!ATTLIST hasValueDecision delegate CDATA #IMPLIED >
<!ATTLIST hasValueDecision tool CDATA #IMPLIED >

<!ELEMENT compareDecision (model | constant)* >
<!ATTLIST compareDecision type (hasValue|compare|and|or|pastDate) #IMPLIED >
<!ATTLIST compareDecision reversed (TRUE|FALSE) #IMPLIED >
<!ATTLIST compareDecision model CDATA #IMPLIED >
<!ATTLIST compareDecision delegate CDATA #IMPLIED >
<!ATTLIST compareDecision tool CDATA #IMPLIED >
<!ATTLIST compareDecision constant CDATA #IMPLIED >

<!ELEMENT constant EMPTY >
<!ATTLIST constant value CDATA #IMPLIED >

<!ELEMENT andDecision (model | decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ATTLIST andDecision type (hasValue|compare|and|or|pastDate) #IMPLIED >
<!ATTLIST andDecision reversed (TRUE|FALSE) #IMPLIED >
<!ATTLIST andDecision model CDATA #IMPLIED >
<!ATTLIST andDecision delegate CDATA #IMPLIED >
<!ATTLIST andDecision tool CDATA #IMPLIED >

<!ELEMENT orDecision (model | decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ATTLIST orDecision type (hasValue|compare|and|or|pastDate) #IMPLIED >
<!ATTLIST orDecision reversed (TRUE|FALSE) #IMPLIED >
<!ATTLIST orDecision model CDATA #IMPLIED >
<!ATTLIST orDecision delegate CDATA #IMPLIED >
<!ATTLIST orDecision tool CDATA #IMPLIED >

<!ELEMENT pastDateDecision (model)* >
<!ATTLIST pastDateDecision type (hasValue|compare|and|or|pastDate) #IMPLIED >
<!ATTLIST pastDateDecision reversed (TRUE|FALSE) #IMPLIED >
<!ATTLIST pastDateDecision model CDATA #IMPLIED >
<!ATTLIST pastDateDecision delegate CDATA #IMPLIED >
<!ATTLIST pastDateDecision tool CDATA #IMPLIED >

<!ELEMENT alert (included | message)* >
<!ATTLIST alert id CDATA #IMPLIED >
<!ATTLIST alert selector CDATA #IMPLIED >
<!ATTLIST alert model CDATA #IMPLIED >

<!ELEMENT alias (included)* >
<!ATTLIST alias id CDATA #IMPLIED >
<!ATTLIST alias to CDATA #REQUIRED >
<!ATTLIST alias toolId CDATA #IMPLIED >

<!ELEMENT attachments (included | title | model | navigations)* >
<!ATTLIST attachments id CDATA #IMPLIED >
<!ATTLIST attachments title CDATA #IMPLIED>
<!ATTLIST attachments model CDATA #IMPLIED>
<!ATTLIST attachments name CDATA #IMPLIED>
<!ATTLIST attachments raw (TRUE|FALSE) #IMPLIED>
<!ATTLIST attachments size (TRUE|FALSE) #IMPLIED>
<!ATTLIST attachments timestamp (TRUE|FALSE) #IMPLIED>

<!ELEMENT navigations (navigation)* >

<!ELEMENT navigation (included | confirm | title | destination | disabled | default | validate | icon | iterator)* >
<!ATTLIST navigation id CDATA #IMPLIED >
<!ATTLIST navigation title CDATA #IMPLIED >
<!ATTLIST navigation style (BUTTON|LINK) #IMPLIED >
<!ATTLIST navigation destination CDATA #IMPLIED >
<!ATTLIST navigation submit (TRUE|FALSE) #IMPLIED >
<!ATTLIST navigation default (TRUE|FALSE) #IMPLIED >
<!ATTLIST navigation disabled (TRUE|FALSE) #IMPLIED >
<!ATTLIST navigation accessKey CDATA #IMPLIED >
<!ATTLIST navigation description CDATA #IMPLIED >

<!ELEMENT attachmentsEdit (included | title | model | navigations)* >
<!ATTLIST attachmentsEdit id CDATA #IMPLIED >
<!ATTLIST attachmentsEdit title CDATA #IMPLIED>
<!ATTLIST attachmentsEdit model CDATA #IMPLIED>
<!ATTLIST attachmentsEdit name CDATA #IMPLIED>
<!ATTLIST attachmentsEdit raw (TRUE|FALSE) #IMPLIED>
<!ATTLIST attachmentsEdit size (TRUE|FALSE) #IMPLIED>
<!ATTLIST attachmentsEdit timestamp (TRUE|FALSE) #IMPLIED>

<!ELEMENT confirm (decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision | message | cancel)* >
<!ATTLIST confirm decision (TRUE|FALSE) #IMPLIED >
<!ATTLIST confirm cancelSelector CDATA #IMPLIED >
<!ATTLIST confirm cancelIcon CDATA #IMPLIED >
<!ATTLIST confirm selector CDATA #IMPLIED >
<!ATTLIST confirm model CDATA #IMPLIED >

<!ELEMENT cancel EMPTY >
<!ATTLIST cancel selector CDATA #IMPLIED >
<!ATTLIST cancel icon CDATA #IMPLIED >

<!ELEMENT destination (model | booleanModel | constantModel | contextInfoModel | dateModel | durationModel | countModel | floatModel | htmlModel | iconModel | pagingModel | textModel | urlModel | userInfoModel)* >
<!ATTLIST destination template CDATA #IMPLIED >
<!ATTLIST destination model CDATA #IMPLIED >

<!ELEMENT icon (message)* >
<!ATTLIST icon icon CDATA #IMPLIED >
<!ATTLIST icon style (LEFT|RIGHT) #IMPLIED >
<!ATTLIST icon message CDATA #IMPLIED >

<!ELEMENT countdownTimer (included | disabled | duration | destination | hide | remaining | show | timeTillExpire | title)* >
<!ATTLIST countdownTimer id CDATA #IMPLIED >
<!ATTLIST countdownTimer submit (TRUE|FALSE) #IMPLIED >
<!ATTLIST countdownTimer tight (TRUE|FALSE) #IMPLIED >
<!ATTLIST countdownTimer title CDATA #IMPLIED >
<!ATTLIST countdownTimer warn CDATA #IMPLIED >
<!ATTLIST countdownTimer pixels CDATA #IMPLIED >
<!ATTLIST countdownTimer disabled (TRUE|FALSE) #IMPLIED >
<!ATTLIST countdownTimer distination CDATA #IMPLIED >

<!ELEMENT duration (message | model | booleanModel | constantModel | contextInfoModel | dateModel | durationModel | countModel | floatModel | htmlModel | iconModel | pagingModel | textModel | urlModel | userInfoModel)* >
<!ELEMENT hide (message)* >
<!ELEMENT remaining (message)* >
<!ELEMENT show (message)* >
<!ELEMENT timeTillExpire (model | booleanModel | constantModel | contextInfoModel | dateModel | durationModel | countModel | floatModel | htmlModel | iconModel | pagingModel | textModel | urlModel | userInfoModel)* >

<!ELEMENT courier (included | destination)* >
<!ATTLIST courier id CDATA #IMPLIED >
<!ATTLIST courier frequency CDATA #IMPLIED >
<!ATTLIST courier destination CDATA #IMPLIED >

<!ELEMENT divider (included)* >
<!ATTLIST divider id CDATA #IMPLIED >

<!ELEMENT entityDisplay (included | model | title | rows)* >
<!ATTLIST entityDisplay id CDATA #IMPLIED >
<!ATTLIST entityDisplay model CDATA #IMPLIED >
<!ATTLIST entityDisplay title CDATA #IMPLIED >

<!ELEMENT rows (row)* >
<!ELEMENT row (included | container | title | model | booleanModel | constantModel | contextInfoModel | dateModel | durationModel | countModel | floatModel | htmlModel | iconModel | pagingModel | textModel | urlModel | userInfoModel)* >
<!ATTLIST row title CDATA #IMPLIED >
<!ATTLIST row model CDATA #IMPLIED >

<!ELEMENT entityList (included | emptyTitle | entityIncluded | iterator | title | titleIncluded | columns | headings)* >
<!ATTLIST entityList id CDATA #IMPLIED >
<!ATTLIST entityList style (FLAT|FORM) #IMPLIED >

<!ELEMENT emptyTitle (message) >

<!ELEMENT iterator (model)* >
<!ATTLIST iterator model CDATA #IMPLIED >
<!ATTLIST iterator name CDATA #IMPLIED >

<!ELEMENT columns (column | autoColumn | modelColumn | orderColumn | selectionColumn)* >
<!ELEMENT column (asAlert | entityIncluded | included | sort | title | container | entityNavigations | footnotes | navigations)* >
<!ATTLIST column type (auto|model|selection) #IMPLIED >
<!ATTLIST column centered (TRUE|FALSE) #IMPLIED >
<!ATTLIST column wrap (TRUE|FALSE) #IMPLIED >
<!ATTLIST column title CDATA #IMPLIED >
<!ATTLIST column pixels CDATA #IMPLIED >
<!ATTLIST column em CDATA #IMPLIED >

<!ELEMENT sort (active | direction | asc | desc)* >
<!ATTLIST sort submit (TRUE|FALSE) #IMPLIED >

<!ELEMENT asc (message | destination)* >
<!ATTLIST asc icon CDATA #IMPLIED >

<!ELEMENT desc (message | destination)* >
<!ATTLIST desc icon CDATA #IMPLIED >

<!ELEMENT entityNavigations (navigation)* >

<!ELEMENT footnotes (footnote)* >
<!ELEMENT footnote EMPTY >

<!ELEMENT headings (heading)* >
<!ELEMENT heading (message | navigation | decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >

<!ELEMENT autoColumn EMPTY >

<!ELEMENT modelColumn (model | message | asAlert | entityIncluded | included | sort | title | container | entityNavigations | footnotes | navigations)* >
<!ATTLIST modelColumn centered (TRUE|FALSE) #IMPLIED >
<!ATTLIST modelColumn wrap (TRUE|FALSE) #IMPLIED >
<!ATTLIST modelColumn title CDATA #IMPLIED >
<!ATTLIST modelColumn pixels CDATA #IMPLIED >
<!ATTLIST modelColumn em CDATA #IMPLIED >

<!ELEMENT selectionColumn (value | singleSelect | readOnly | model | onEmptyAlert | label | asAlert | entityIncluded | included | sort | title | container | entityNavigations | footnotes | navigations)* >
<!ATTLIST selectionColumn centered (TRUE|FALSE) #IMPLIED >
<!ATTLIST selectionColumn wrap (TRUE|FALSE) #IMPLIED >
<!ATTLIST selectionColumn title CDATA #IMPLIED >
<!ATTLIST selectionColumn pixels CDATA #IMPLIED >
<!ATTLIST selectionColumn em CDATA #IMPLIED >
<!ATTLIST selectionColumn multiple (TRUE|FALSE) #IMPLIED >
<!ATTLIST selectionColumn single (TRUE|FALSE) #IMPLIED >
<!ATTLIST selectionColumn model CDATA #IMPLIED >

<!ELEMENT orderColumn (value | model | asAlert | entityIncluded | included | sort | title | container | entityNavigations | footnotes | navigations)* >
<!ATTLIST orderColumn model CDATA #IMPLIED >

<!ELEMENT label (message) >

<!ELEMENT onEmptyAlert (message | decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >

<!ELEMENT value (model) >

<!ELEMENT text (included | message)* >
<!ATTLIST text id CDATA #IMPLIED >
<!ATTLIST text selector CDATA #IMPLIED >
<!ATTLIST text model CDATA #IMPLIED >

<!ELEMENT evaluation (included | message | icon)* >
<!ATTLIST evaluation id CDATA #IMPLIED >
<!ATTLIST evaluation selector CDATA #IMPLIED >
<!ATTLIST evaluation model CDATA #IMPLIED >
<!ATTLIST evaluation icon CDATA #IMPLIED >

<!ELEMENT fileUpload (included | onEmptyAlert | model | readOnly | title | upload)* >
<!ATTLIST fileUpload id CDATA #IMPLIED >
<!ATTLIST fileUpload title CDATA #IMPLIED >

<!ELEMENT upload (message) >

<!ELEMENT fillIn (included | correctMarker | focus | onEmptyAlert | model | readOnly | text | title)* >
<!ATTLIST fillIn id CDATA #IMPLIED >
<!ATTLIST fillIn cols CDATA #IMPLIED >

<!ELEMENT correctMarker (model | decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ATTLIST correctMarker correctIcon CDATA #IMPLIED >
<!ATTLIST correctMarker correctSelector CDATA #IMPLIED >
<!ATTLIST correctMarker incorrectIcon CDATA #IMPLIED >
<!ATTLIST correctMarker incorrectSelector CDATA #IMPLIED >

<!ELEMENT gap (included)* >
<!ATTLIST gap id CDATA #IMPLIED >

<!ELEMENT iconKey (included | icons | descriptionModel | iconsModel | keysModel | title)* >
<!ATTLIST iconKey id CDATA #IMPLIED >
<!ATTLIST iconKey title CDATA #IMPLIED >

<!ELEMENT descriptionModel (model) >
<!ELEMENT iconsModel (model) >
<!ELEMENT keysModel (model) >
<!ELEMENT icons (icon)* >

<!ELEMENT instructions (included | message)* >
<!ATTLIST instructions id CDATA #IMPLIED >
<!ATTLIST instructions selector CDATA #IMPLIED >
<!ATTLIST instructions model CDATA #IMPLIED >

<!ELEMENT match (included | correctMarker | choiceId | choiceLabel | choiceText | feedback | onEmptyAlert | parts | partsChoices | partsTitle | model | readOnly | select | title)* >
<!ATTLIST match id CDATA #IMPLIED >

<!ELEMENT choiceId (model) >
<!ELEMENT choiceLabel (model) >
<!ELEMENT choiceText (model) >
<!ELEMENT parts (model) >
<!ELEMENT partsChoices (model) >
<!ELEMENT partsTitle (model) >
<!ELEMENT select (message) >

<!ELEMENT feedback (model | decision | hasValueDecision | compareDecision | andDecision | orDecision | pastDateDecision)* >
<!ATTLIST feedback selector CDATA #IMPLIED >

<!ELEMENT menuBar EMPTY >

<!ELEMENT navigationBar (included | container)* >
<!ATTLIST navigationBar id CDATA #IMPLIED >
<!ATTLIST navigationBar width CDATA #IMPLIED >

<!ELEMENT modeBar (included | container)* >
<!ATTLIST modeBar id CDATA #IMPLIED >
<!ATTLIST modeBar width CDATA #IMPLIED >

<!ELEMENT entityActionBar (included | container)* >
<!ATTLIST entityActionBar id CDATA #IMPLIED >
<!ATTLIST entityActionBar width CDATA #IMPLIED >

<!ELEMENT password (included | title | model | onEmptyAlert)* >
<!ATTLIST password id CDATA #IMPLIED >
<!ATTLIST password title CDATA #IMPLIED >
<!ATTLIST password model CDATA #IMPLIED >

<!ELEMENT section (included | title | anchor | entityIncluded | focusOn | iterator | container)* >
<!ATTLIST section id CDATA #IMPLIED >
<!ATTLIST section title CDATA #IMPLIED >

<!ELEMENT anchor (message) >

<!ELEMENT focusOn (model)* >
<!ATTLIST focusOn model CDATA #IMPLIED >

<!ELEMENT selection (included | title | model | readOnly | selectionChoices)* >
<!ATTLIST selection id CDATA #IMPLIED >
<!ATTLIST selection title CDATA #IMPLIED >
<!ATTLIST selection model CDATA #IMPLIED >
<!ATTLIST selection value CDATA #IMPLIED >
<!ATTLIST selection orientation (HORIZONTAL|VERTICAL) #IMPLIED >

<!ELEMENT selectionChoices (selectionChoice)* >
<!ELEMENT selectionChoice (container)* >
<!ATTLIST selectionChoice value CDATA #IMPLIED >
<!ATTLIST selectionChoice selector CDATA #IMPLIED >

<!ELEMENT textEdit (included | title | model | options | onEmptyAlert | readOnly | focus)* >
<!ATTLIST textEdit id CDATA #IMPLIED >
<!ATTLIST textEdit title CDATA #IMPLIED >
<!ATTLIST textEdit model CDATA #IMPLIED >
<!ATTLIST textEdit rows CDATA #IMPLIED >
<!ATTLIST textEdit cols CDATA #IMPLIED >
<!ATTLIST textEdit readOnly (TRUE|FALSE) #IMPLIED >
<!ATTLIST textEdit options CDATA #IMPLIED >

<!ELEMENT options (model)* >

<!ELEMENT countEdit (included | title | model | onEmptyAlert | readOnly | focus | summary)* >
<!ATTLIST countEdit id CDATA #IMPLIED >
<!ATTLIST countEdit title CDATA #IMPLIED >
<!ATTLIST countEdit model CDATA #IMPLIED >
<!ATTLIST countEdit rows CDATA #IMPLIED >
<!ATTLIST countEdit cols CDATA #IMPLIED >
<!ATTLIST countEdit readOnly (TRUE|FALSE) #IMPLIED >

<!ELEMENT floatEdit (included | title | model | onEmptyAlert | readOnly | focus | summary)* >
<!ATTLIST floatEdit id CDATA #IMPLIED >
<!ATTLIST floatEdit title CDATA #IMPLIED >
<!ATTLIST floatEdit model CDATA #IMPLIED >
<!ATTLIST floatEdit rows CDATA #IMPLIED >
<!ATTLIST floatEdit cols CDATA #IMPLIED >
<!ATTLIST floatEdit readOnly (TRUE|FALSE) #IMPLIED >

<!ELEMENT summary (initialValue | title)*>
<!ATTLIST summary initialValue CDATA #IMPLIED >
<!ATTLIST summary title CDATA #IMPLIED >

<!ELEMENT initialValue (model)* >

<!ELEMENT htmlEdit (included | title | model | onEmptyAlert | readOnly | focus)* >
<!ATTLIST htmlEdit id CDATA #IMPLIED >
<!ATTLIST htmlEdit title CDATA #IMPLIED >
<!ATTLIST htmlEdit model CDATA #IMPLIED >
<!ATTLIST htmlEdit rows CDATA #IMPLIED >
<!ATTLIST htmlEdit cols CDATA #IMPLIED >
<!ATTLIST htmlEdit readOnly (TRUE|FALSE) #IMPLIED >

<!ELEMENT dateEdit (included | title | model | onEmptyAlert | readOnly | focus | icon)* >
<!ATTLIST dateEdit id CDATA #IMPLIED >
<!ATTLIST dateEdit title CDATA #IMPLIED >
<!ATTLIST dateEdit model CDATA #IMPLIED >
<!ATTLIST dateEdit icon CDATA #IMPLIED >

<!ELEMENT durationEdit (included | title | model | onEmptyAlert | readOnly | focus | icon)* >
<!ATTLIST durationEdit id CDATA #IMPLIED >
<!ATTLIST durationEdit title CDATA #IMPLIED >
<!ATTLIST durationEdit model CDATA #IMPLIED >
<!ATTLIST durationEdit icon CDATA #IMPLIED >

<!ELEMENT modelComponent (included | model)* >
<!ATTLIST modelComponent model CDATA #IMPLIED >

<!ELEMENT pager (included | message | destination | paging | first | next | last | prev | sizeOptions)* >
<!ATTLIST pager first CDATA #IMPLIED >
<!ATTLIST pager prev CDATA #IMPLIED >
<!ATTLIST pager next CDATA #IMPLIED >
<!ATTLIST pager last CDATA #IMPLIED >
<!ATTLIST pager destination CDATA #IMPLIED >
<!ATTLIST pager paging CDATA #IMPLIED >
<!ATTLIST pager submit (TRUE|FALSE) #IMPLIED >

<!ELEMENT first (icon) >
<!ELEMENT prev (icon) >
<!ELEMENT next (icon) >
<!ELEMENT last (icon) >

<!ELEMENT paging (model) >

<!ELEMENT sizeOptions (sizeOption | message)* >
<!ELEMENT sizeOption EMPTY >
<!ATTLIST sizeOption size CDATA #IMPLIED >
